.feed{
    flex: 0.6;
    margin: 0 20px;
    
}
.icon__bottom{
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
    padding: 10px;
    /* border-radius: 10px; */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: relative;
    top: -1.3rem;
}
.feed_inputContainer{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    padding-bottom: 20px;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    color: gray;
    padding-left: 15px;
    width: 100%;
}
.feed__input > form {
    display: flex;
    width: 100%;
}
.feed__input > form > input{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed__input > form > button{
    display: none;
}


