.inputOption{
    display: flex;
    align-items: center;
    position: relative;
    top: -0.6rem;
    padding: 10px;
}
.inputOption:hover{
    background-color: whitesmoke;
    border-radius: 10px;

}
.inputOption > h4{
    margin-left: 0.5rem;
}